@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de chamado AJC</h1>
    <h1 class="display-4">Seja bem</h1>
    <p>Acesse nosso Site <a href="https://www.ajcinformatica.com.br">AJC Informatica</a>.</p>
</div>
